
<!--页脚-->
<footer class="panel-footer center-on-small-only stylish-color-dark footer">
  <div class="container">
    <div class="row">
      <div class="col-lg-4">
        <ul class="col-lg-4">
          <li><a href="/pro/sanb.html" target="_blank">我要投资</a></li>
          <li><a href="/layout/newGuidelines.html?nav=0" target="_blank">新手指引</a></li>
          <li><a href="/layout/secrityAssuce.html?nav=4" target="_blank">安全保障</a></li>
          <li><a href="/layout/declaration.html" target="_blank">法律声明</a></li>

        </ul>
        <ul class="col-lg-4">
          <li><a href="/layout/adbutWo.html?nav=5" target="_blank">公司简介</a></li>
          <li><a href="/layout/adbutZhaopin.html?nav=5" target="_blank">招贤纳士</a></li>
          <li><a href="/layout/sitemap.html" target="_blank">网站地图</a></li>
          <li><a href="/layout/adbutUs.html?nav=5" target="_blank">联系我们</a></li>

        </ul>
        <ul class="col-lg-4">

          <li><a href="/layout/help.html?pad=1" target="_blank">名词解释</a></li>
          <li><a href="/layout/help.html?pad=3" target="_blank">认证安全</a></li>
          <li><a href="/layout/help.html?pad=4" target="_blank">投资管理</a></li>
          <li><a href="/layout/help.html?pad=5" target="_blank">充值提现</a></li>

        </ul>
      </div>
      <div class="col-lg-4">
        <p>客服电话<span>(工作时间: 9:00～18:00)</span></p>
        <p>400-890-3368</p>
        <div>
          关注我们：
          <div>
            <div style="display: none;" class="pophover-content popover fade bottom in pa">
              <div class="arrow"></div>
              <div class="popover-content tc">
                <p style="white-space: nowrap">扫码关注百仁贷微信</p>

                <div style="width: 121px; height: 131px; margin-left: 15px;">
                  <img src="/images/wx.jpg" style="width: 121px; height: 131px;" alt="百仁贷"
                       title="百仁贷">
                </div>
              </div>
            </div>
          </div>
          <div class="qq pr pophover brd-s">
            <div style="display: none;" class="pophover-content popover fade bottom in pa">
              <div class="arrow"></div>
              <div class="popover-content">
                <p style="text-align: center;">
                  百仁贷客户群 <br>
                  <a target="_blank"
                     href="http://shang.qq.com/wpa/qunwpa?idkey=8ae9fba4a858ebfff512f514cda482e6c784ac20c9521c60870f0c64a3578f78">
                    QQ:26673004
                  </a>
                </p>
              </div>
            </div>
          </div>
          <div class="wb pr pophover brd-s">
            <div style="display: none;" class="pophover-content popover fade bottom in pa">
              <div class="arrow"></div>
              <div class="popover-content">
                <p style="text-align: center;">
                  点击关注<font class="color">百仁贷</font>微博
                  <a href="http://weibo.com/5582851488/profile?topnav=1&amp;wvr=6" target="_blank">@Bairendai</a>
                </p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="teamTime fr">
        <p>工作时间：<span style="font-size:14px;">9:00 - 18:00</span></p>
        <div class="btntouzi blue zixun" id="fottqq"><a href="javascript:fottQQ();">在线咨询</a></div>
        <p>客服邮箱：<span>kf@bairendai.com</span></p>
      </div>
    </div>

  </div>

</footer>
