<footer id="footer">
  <div id="m-copyright">
    <div class="g-ctn f-cb f14">
      <nav class="links f-fl">
        <a routerLink="aboutUs">关于我们</a>
        <a routerLink="contect">联系我们</a>
        <a routerLink="help">帮助中心</a>
        <a href="/customerservice">在线客服</a>
      </nav>
      <p class="f-fr">服务热线：400-921-5525 ( 周一至周五09:00-20:00 )</p>
    </div>
    <div class="g-ctn f-cb">
      <nav class="links f-fl">
        <a href="mailto:lmlc@easecreate.com">
          <i class="material-icons">email</i>
          lmlc@easecreate.com
        </a>
        <a class="pop weibo" href="http://weibo.com/u/5704817433/home" target="_blank">
          <i class="basefont"></i>
          <span>关注微博</span>
          <div class="popup">
            <img src="//www.lmlccdn.com/www.lmlc.com.new/cdn/.remote/finance/src/desktop/core/img/logo-wb.67a705f017.jpg" width="80" height="80">
            <button class="btn btn-primary">+关注立马理财</button>
            <span class="triangle"></span>
            <span class="stand"></span>
          </div>
        </a>
        <a class="pop weixin" href="javascript:;">
          <i class="basefont"></i>
          <span>关注微信</span>
          <div class="popup">
            <img src="//www.lmlccdn.com/www.lmlc.com.new/cdn/.remote/finance/src/desktop/core/img/ercode-wx.a8e22c112a.png" width="100" height="100">
            <h6>扫码关注立马理财微信</h6>
            <h6>优惠活动早知道</h6>
            <span class="triangle"></span>
          </div>
        </a>
      </nav>
      <p class="f-fr">理财有风险，投资需谨慎</p>
    </div>
    <div class="g-ctn f-cb">
      <p class="f-fl">
        光大易创网络科技股份有限公司版权所有 沪ICP备15046107号 Copyright Everbright Easecreate Internet Co.,Ltd. ALL Rights Reserved
      </p>
      <nav class="verify f-fr">
        <a class="verify-item" title="上海工商" href="https://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=dov73ne26zbqq0isy1delhwiv542xg2p75" target="_blank">
          <span class="verifybg shic"></span>上海工商
        </a>
        <a class="verify-item" title="可信网站-中网验证" href="https://ss.knet.cn/verifyseal.dll?sn=e15120731010661686ckf0000000&amp;ct=df&amp;a=1&amp;pa=0.5570098231546581" target="_blank">
					<span class="verifybg knet">
				</span></a>
        <a class="verify-item" title="网信认证-企业信用评级证书" href="http://www.itrust.org.cn/Home/Index/itrust_certifi?wm=135078751x" target="_blank">
					<span class="verifybg znet">
				</span></a>
      </nav>
    </div>
  </div>
</footer>
