#footer {
  min-width: 1180px;
  display: block;
}

#m-copyright {
  background: #333;
  color: #d0d0d0;
  font-size: 12px;
  padding-top: 30px;
  padding-bottom: 40px;
}

#m-copyright .g-ctn:nth-child(1) {
  margin-top: 0;
}

#m-copyright .f14 {
  font-size: 14px;
}

#m-copyright .g-ctn {
  background-color: transparent;
  margin-top: 24px;
}

.g-ctn {
  display: block;
  width: 1180px;
  margin: 0 auto;
  background: #FFF;
}

.f-cb {
  display: block;
}

#m-copyright .g-ctn .weixin .popup {
  right: 0;
  width: 160px;
  padding: 20px 0;
}

#m-copyright .g-ctn .pop .popup {
  visibility: hidden;
  opacity: 0;
  position: absolute;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  bottom: 100%;
  z-index: 201;
  background-color: #fff;
  text-align: center;
  line-height: 14px;
  color: #666;
  overflow: visible;
  left: 0;
  -webkit-transition: margin-bottom .2s ease-in-out;
  transition: margin-bottom .2s ease-in-out;
}

.pop {
  position: relative;
}

/*在关于我们*/
#m-copyright .links a:after {
  display: inline-block;
  content: "";
  border-left: 1px solid #55605b;
  border-left: 1px solid rgba(255,255,255,.35);
  width: 1px;
  height: 13px;
  margin-right: 10px;
  margin-left: 10px;
  -webkit-transform: translateY(2px);
  -ms-transform: translateY(2px);
  transform: translateY(2px);
}
