.box {
  width: 350px;
  background-color: #ffffff;
  margin-top: 60px;
  float: right;
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.login-container {
  display: flex;
  flex-direction: column;
}

.login-container > * {
  width: 100%;
}

.mainButton {
  width: 300px;
  margin: 10px auto;
}

#itemCheck {
  width: auto;
}

.m-agreements {
  font-size: 10px;
}

#main {
  position: relative;
  font-size: 14px;
  min-height: inherit;
  height: 640px;
  background: center no-repeat;
  background-image: url(//www.lmlccdn.com/www.lmlc.com.new/cdn/desktop/user/login/img/bg.2eaf7924b8.png);
}

#main .g-ctn {
  background-color: transparent;
  margin-right: auto;
  margin-left: auto;
}

.g-ctn {
  display: block;
  width: 1180px;
  margin: 0 auto;
  background: #FFF;
}

#verify-warpper {
  position: relative;
  width: 300px;
}

#verifyform {
  float: left;
  width: 60%;
}

.verifybutton {
  float: right;
  width: 30%;
}

.mat-form-field {
  width: 100%;
}
