.g-mn {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  width: 940px;
  padding: 15px 38px 0;
  color: #333;
  float: right;
}

.g-mn .title {
  font-size: 18px;
}

.title {
  text-align: left;
  border-bottom: 1px solid #e5ebf0;
  padding-top: 15px;
  padding-bottom: 30px;
  color: #333;
}

ul {
  list-style: none;
}

.my-asset-nobalance {
  border-bottom: 1px solid #e5ebf0;
  text-align: center;
}

.tab-wrap {
  border-bottom: 1px solid #4567cc;
  height: 39px;
  font-size: 16px;
  margin-top: 20px;
}

.ui-paging {
  position: relative;
}

.product-tips {
  margin-top: 20px;
}

.alert-normal {
  background-color: #e8f1fa;
  border-color: #e8f1fa;
  color: #666;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.alert {
  position: relative;
  font-size: 14px;
  height: 40px;
  line-height: 40px;
  border: 1px solid transparent;
  text-align: center;
}

.f-hide {
  display: none;
}

.my-asset-nobalance .first {
  width: 320px;
  border-right: 1px solid #e5ebf0;
  font: 20px/1.2 "Microsoft Yahei";
  text-align: center;
}

.my-asset-nobalance li {
  float: left;
  height: 100px;
  width: 250px;
  margin: 25px 0;
  font-size: 18px;
}

.my-asset-nobalance li b {
  font-size: 47px;
}

.wordSpacing0 {
  word-spacing: -8px;
}

my-asset-nobalance li i {
  font-size: 32px;
  line-height: 56px;
}

.my-asset-nobalance li em {
  font-size: 14px;
  color: #999;
}

.my-asset-nobalance li em {
  font-size: 14px;
  color: #999;
}

/**
tab对应的
 */

tab-wrap {
  border-bottom: 1px solid #4567cc;
  height: 39px;
  font-size: 16px;
  margin-top: 20px;
}

.tab-wrap tab-active {
  background-color: #4567cc;
  color: #fff;
  cursor: default;
}

.tab-wrap span {
  padding: 0 20px;
  line-height: 39px;
  float: left;
  margin-right: 15px;
  cursor: pointer;
  color: #666;
}

.tab-wrap {
  border-bottom: 1px solid #4567cc;
  height: 39px;
  font-size: 16px;
  margin-top: 20px;
}
