<div class="g-mn account">
  <div class="m-content">
    <div class="page-tip">安全设置</div>
    <div class="account-list">
      <div class="conbox">
        <div class="f-cb">
          <i class="icon icon-warning"></i>
          <span class="f-fl">手机账号</span>
          <a href="/web/page/login/account/bindLmlcPhone.html?backType=accountSet" class="f-fr">立即绑定</a>
        </div>
        <div class="alltext">
          绑定手机号，用手机号安全快捷登录
        </div>
      </div>

      <div class="conbox no-border">
        <div class="f-cb">
          <i class="icon icon-pass"></i>
          <span class="f-fl">交易密码</span>
          <a href="/web/page/update/trade_pass.html?backType=accountSet" class="changePwd f-fr">修改</a>
        </div>
        <div class="alltext">
          用于在交易支付时验证，保证资金安全
        </div>
      </div>
    </div>
    <div class="page-tip page-tip2">账户设置</div>
    <div class="account-list">
      <div class="conbox">
        <div class="f-cb">
          <i class="icon icon-pass"></i>
          <span class="f-fl">接收通知手机</span>
          <span class="f-fl">（156****9986）</span>
          <a href="/web/page/bind/common_phone.html?backType=accountSet" class="changePhone f-fr">修改</a>
        </div>
        <div class="alltext">
          用于接收系统重要通知，实时保障账户信息安全
        </div>
      </div>

      <div class="conbox">
        <div class="f-cb">
          <i class="icon icon-pass"></i>
          <span class="f-fl">接收通知邮箱</span>
          <span class="f-fl">（zj_learn@163.com）</span>
          <a href="/web/page/email.html?backType=accountSet" class="f-fr">修改</a>
        </div>
        <div class="alltext">
          用于购买定期理财后接收产品确认函
        </div>
      </div>

      <div class="conbox no-border">
        <div class="f-cb">
          <i class="icon icon-pass"></i>
          <span class="f-fl">理财风险评估</span>
          <span class="J_type f-fl">保守型</span>
          <a href="/web/page/login/risk_assess.html?backType=accountSet" class="f-fr">重新评估</a>
        </div>
        <div class="alltext">
          您的风险承受能力很低，看重本金安全及资产流动性，对投资回报要求不高。您比较适合投资低风险、高流动性的理财产品，例如银行存款、国债、保本保收益的固收理财、保障型保险、保本型基金和货币基金等。
        </div>
      </div>
    </div>
  </div>
</div>
