<html lang="zh-CN">
<head>
  <title>帮助中心-立马理财</title>
  <link rel="shortcut icon" href="//www.lmlc.com/cdn/.remote/finance/src/common/static/favicon.e1244012f3.ico">

  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="renderer" content="webkit">
  <meta name="application-name" content="www.lmlc.com">
  <meta name="keywords" content="立马理财,定期理财,余额理财,基金,理财,投资理财,理财平台,财富管理">
  <meta name="description"
        content="立马理财是专业的一站式综合理财平台，产品和服务包括定期理财、活期理财、保险、基金、股票开户等，严选金融资产，银行资金存管，金融科技领先，为用户提供优质的、多元的、定制化的一站式财富管理服务。">
  <link rel="stylesheet" href="//www.lmlc.com/cdn/desktop/common/base/base.accda2e8f3.css">
  <link rel="stylesheet" href="//www.lmlc.com/cdn/desktop/common/core/core.7ab4e2fbb8.css">
  <link rel="stylesheet" href="//www.lmlc.com/cdn/desktop/user/help/main.2050f65691.css">
  <style type="text/css" ref="style.css"></style>
</head>
<body>
<!-- header -->
<header id="header">
  <div id="m-header-menu">
    <nav class="g-ctn f-cb">
      <a class="nav-item weixin pop" href="javascript:;">
        <i class="basefont"></i>
        <div class="mask"></div>
        <div class="popdown">
          <img src="//www.lmlc.com/cdn/.remote/finance/src/desktop/core/img/ercode-wx.a8e22c112a.png" width="100"
               height="100">
          <h6>扫码关注立马理财微信</h6>
          <h6>优惠活动早知道</h6>
        </div>
      </a>
      <a class="nav-item weibo pop" href="http://weibo.com/u/5704817433/home" target="_blank">
        <i class="basefont"></i>
        <div class="mask"></div>
        <div class="popdown">
          <img src="//www.lmlc.com/cdn/.remote/finance/src/desktop/core/img/logo-wb.67a705f017.jpg" width="80"
               height="80">
          <span class="btn btn-primary">+关注立马理财</span>
        </div>
      </a>
      <a class="nav-item app pop" href="//pop.lmlc.com/web/client.html?from=home_nav" target="_blank">
        <i class="basefont"></i>
        立马理财APP
        <div class="mask"></div>
        <div class="popdown">
          <img src="//www.lmlc.com/cdn/.remote/finance/src/desktop/core/img/download-qrcode.f28e5973db.png" width="90"
               height="90">
          <h6>下载立马理财APP</h6>
          <h6>更多惊喜等你来</h6>
        </div>
      </a>
      <a class="nav-item J_customerService" href="javascript:;">在线客服</a>
      <span class="nav-item J_userNoitce noitce reddot popjs" href="javascript:;">
				消息中心<i class="reddot"></i>
				<div class="mask"></div>
				<div class="popdown">
					<h3>
						<i>最近消息</i>
						<a href="//www.lmlc.com/web/page/login/message/main.html?from=home_nav">查看全部</a>
					</h3>
					<div class="noitce-list">
					</div>
				</div>
			</span>
      <a class="nav-item" href="//www.lmlc.com/web/page/help/help_info.html?from=home_nav" target="_blank">帮助中心</a>
      <a class="nav-item J_user J_reg J_unLogin f-hide2" href="javascript:;" style="display: none;">注册</a>
      <a class="nav-item J_user J_login J_unLogin f-hide2" href="javascript:;" style="display: none;">立即登录</a>
      <a class="nav-item J_user J_isLogin f-hide"><a
        href="https://www.lmlc.com/web/page/login/fund/overview.html?from=home_nav" target="_blank">您好，zj_learn@1...&nbsp;&nbsp;</a><a
        class="J_out" href="javascript:;">退出</a></a>
    </nav>
  </div>
  <div id="m-header">
    <!--主站头部模块-->
    <div class="g-ctn f-cb">
      <div class="logo f-fl">
        <a class="pic" href="//www.lmlc.com" title="立马理财">
          <img src="//www.lmlc.com/cdn/.remote/finance/src/desktop/core/img/logo-new.aac6f5e79b.png" height="37"
               width="295">
        </a>
      </div>
      <div class="user-box f-fr J_user">
        <a class="portal" href="//www.lmlc.com/web/page/login/fund/overview.html?from=home_nav">
          <i class="basefont userfont"></i>我的账户<i class="basefont arrow"></i>
        </a>
        <div class="mask"></div>
        <nav class="f-fr">
          <a class="user f-cb" href="//www.lmlc.com/web/page/login/fund/overview.html?from=home_nav">
            <div class="u-avatar f-fl">
              <img class="J_userIcon"
                   src="//www.lmlc.com/cdn/.remote/finance/src/common/static/img/avatar.8fd25f7f0b.png">
            </div>
            <div class="f-fl">
              <em>尊敬的用户</em><br>
              <i>欢迎来到立马理财</i>
            </div>
          </a>
          <div class="sitenav">
            <a href="//www.lmlc.com/web/page/login/fund/overview.html?from=home_nav">资产总览</a>
            <a href="//www.lmlc.com/web/page/asset.html?from=home_nav">我的理财</a>
            <a href="//www.lmlc.com/web/page/login/fund/jsFund.html?from=home_nav">立马金库</a>
            <a href="//www.lmlc.com/web/page/login/trade_detail.html?from=home_nav">交易记录</a>
            <a href="//www.lmlc.com/web/page/login/my_bank_card.html?from=home_nav">我的银行卡</a>
            <a href="//www.lmlc.com/web/page/login/practice_gold_display.html?from=home_nav">我的体验金</a>
            <a href="//www.lmlc.com/web/page/coupon.html?from=home_nav">红包&nbsp;福利券</a>
            <a class="J_userNoitce" href="//www.lmlc.com/web/page/login/message/main.html?from=home_nav">消息中心<i
              class="reddot"></i></a>
            <a href="//www.lmlc.com/web/page/account.html?from=home_nav">账户设置</a>
            <a class="J_out" href="javascript:;">安全退出</a>
          </div>
        </nav>
      </div>
      <nav class="nav-box f-fr">
        <a href="//www.lmlc.com">首页</a>
        <a class="active" href="//www.lmlc.com/web/page/help/help_info.html?from=home_nav">帮助中心</a>
        <a href="//www.lmlc.com/about.html?from=home_nav">关于我们</a>
      </nav>
    </div>
  </div>

</header>
<!-- header end -->

<!-- main -->
<div id="main" class="f-cb">

  <div class="g-ctn f-cb">
    <div class="g-sd f-fl">
      <div class="help-title">
        <span>帮助中心</span>
      </div>
      <div class="m-nav" style="min-height: 2817px;">
        <div class="modl navTitle first  f-cb"><i class="icon iconfont up-arrow"></i><i
          class="icon iconfont down-arrow"></i><em>账号问题 </em></div>
        <div class="ele-node">
          <div class="modl  f-cb "><a href="/web/page/help/128936353-128936356.html"><em>账号注册、登录常见问题</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936353-128936357.html"><em>忘记登录密码</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936353-131158156.html"><em>系统提示重新认证</em></a></div>
        </div>
        <div class="modl navTitle  active f-cb"><i class="icon iconfont up-arrow"></i><i
          class="icon iconfont down-arrow"></i><em>绑卡支付 </em></div>
        <div class="ele-node">
          <div class="modl  f-cb active"><a href="/web/page/help/128936369-128936373.html"><em>绑卡常见问题</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936369-129099107.html"><em>如何换卡和解绑银行卡？</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936369-128936466.html"><em>支付限额问题</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936369-128936467.html"><em>交易密码问题</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936369-128936468.html"><em>支付失败问题</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936369-135636852.html"><em>I类账户和II类账户相关问题</em></a></div>
        </div>
        <div class="modl navTitle   f-cb"><i class="icon iconfont up-arrow"></i><i
          class="icon iconfont down-arrow"></i><em>定期与转让 </em></div>
        <div class="ele-node">
          <div class="modl  f-cb "><a href="/web/page/help/128936412-128936413.html"><em>定期理财简介</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936412-128936414.html"><em>购买定期理财须知</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936412-128936426.html"><em>定期理财赎回须知</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936412-132021215.html"><em>转让常见问题</em></a></div>
        </div>
        <div class="modl navTitle   f-cb"><i class="icon iconfont up-arrow"></i><i
          class="icon iconfont down-arrow"></i><em>银行理财 </em></div>
        <div class="ele-node">
          <div class="modl  f-cb "><a href="/web/page/help/128936432-143869809.html"><em>银行理财简介</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936432-143869819.html"><em>购买银行理财须知</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936432-143869823.html"><em>银行理财赎回须知</em></a></div>
        </div>
        <div class="modl navTitle   f-cb"><i class="icon iconfont up-arrow"></i><i
          class="icon iconfont down-arrow"></i><em>立马金库 </em></div>
        <div class="ele-node">
          <div class="modl  f-cb "><a href="/web/page/help/132848339-132848354.html"><em>立马金库简介</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/132848339-132848374.html"><em>转入问题</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/132848339-132848386.html"><em>转出问题</em></a></div>
        </div>
        <div class="modl navTitle   f-cb"><i class="icon iconfont up-arrow"></i><i
          class="icon iconfont down-arrow"></i><em>余额 </em></div>
        <div class="ele-node">
          <div class="modl  f-cb "><a href="/web/page/help/129283923-129283933.html"><em>余额简介</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/129283923-129283948.html"><em>充值问题</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/129283923-129283950.html"><em>提现问题</em></a></div>
        </div>
        <div class="modl navTitle   f-cb"><i class="icon iconfont up-arrow"></i><i
          class="icon iconfont down-arrow"></i><em>基金 </em></div>
        <div class="ele-node">
          <div class="modl  f-cb "><a href="/web/page/help/133947053-133947094.html"><em>基金常见问题</em></a></div>
        </div>
        <div class="modl navTitle   f-cb"><i class="icon iconfont up-arrow"></i><i
          class="icon iconfont down-arrow"></i><em>优惠与活动 </em></div>
        <div class="ele-node">
          <div class="modl  f-cb "><a href="/web/page/help/129007734-129512498.html"><em>体验金简介</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/129007734-129007761.html"><em>优惠券常见问题</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/129007734-129512512.html"><em>立马盈虚拟理财产品</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/129007734-131156804.html"><em>邀请新好友 最多可得300元</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/129007734-131156814.html"><em>网易送你8888体验金</em></a></div>
        </div>
        <div class="modl navTitle   f-cb"><i class="icon iconfont up-arrow"></i><i
          class="icon iconfont down-arrow"></i><em>借钱 </em></div>
        <div class="ele-node">
          <div class="modl  f-cb "><a href="/web/page/help/129512450-146662988.html"><em>借钱简介</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/129512450-146663002.html"><em>拉卡拉易分期常见问题</em></a></div>
        </div>
        <div class="modl navTitle   f-cb"><i class="icon iconfont up-arrow"></i><i
          class="icon iconfont down-arrow"></i><em>保险理财 </em></div>
        <div class="ele-node">
          <div class="modl  f-cb "><a href="/web/page/help/134510397-145656125.html"><em>保险理财购买常见问题</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/134510397-145656131.html"><em>保险理财领取常见问题</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/134510397-145656135.html"><em>保险理财其他问题</em></a></div>
        </div>
        <div class="modl navTitle   f-cb"><i class="icon iconfont up-arrow"></i><i
          class="icon iconfont down-arrow"></i><em>特色理财 </em></div>
        <div class="ele-node">
          <div class="modl  f-cb "><a href="/web/page/help/131155553-143683730.html"><em>家庭理财简介</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/131155553-143683743.html"><em>如何设置家庭理财</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/131155553-143684224.html"><em>家庭理财常见问题</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/131155553-134510455.html"><em>工资理财简介</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/131155553-134510483.html"><em>工资理财设置</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/131155553-134510498.html"><em>工资理财常见问题</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/131155553-142413993.html"><em>工资理财成就墙常见问题</em></a></div>
        </div>
        <div class="modl navTitle   f-cb"><i class="icon iconfont up-arrow"></i><i
          class="icon iconfont down-arrow"></i><em>关于我们 </em></div>
        <div class="ele-node">
          <div class="modl  f-cb "><a href="/web/page/help/128936324-128936325.html"><em>立马理财简介</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936324-131154991.html"><em>立马理财安全吗</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936324-128936497.html"><em>联系客服</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936324-128936524.html"><em>商务合作</em></a></div>
          <div class="modl  f-cb "><a href="/web/page/help/128936324-138536217.html"><em>立马理财平台相关协议</em></a></div>
        </div>
      </div>
    </div>
    <div class="g-mn m-help f-fr">
      <div class="h1Title">绑卡常见问题</div>
      <div class="dldiv">
        <div class="proTitle"><a class="proA" name="">1. 我可以绑定哪些银行的银行卡？</a></div>
        <div class="proCon">
          <p>可以绑定工商银行、农业银行、中国银行、建设银行、交通银行、邮储银行、招商银行、兴业银行、光大银行、浦发银行、平安银行、中信银行、民生银行的银行卡。</p>
          <p>&nbsp; &nbsp;<br></p>
        </div>
      </div>
      <div class="dldiv">
        <div class="proTitle"><a class="proA" name="Q1">2. 每个账号可绑定几张银行卡？</a></div>
        <div class="proCon">
          <p>目前立马理财支持绑定多张银行卡，每位用户最多可以绑定5张银行卡。</p>
          <p>您在立马理财购买定期产品，所有资金原卡进出；如果用多张银行卡进行过天天盈、月月赚的支付，所领取的金额将会到账至用于购买天天盈，月月赚的第一张银行卡内。</p>
          <p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;"></span><br></p>
        </div>
      </div>
      <div class="dldiv">
        <div class="proTitle"><a class="proA" name="">3. 是否可以在多个账号下绑定同一张银行卡？</a></div>
        <div class="proCon">
          <p>不可以。平台的账号与用户实名信息、银行卡为一一对应关系。为了资金安全，平台需要实名认证，认证信息只能关联到一个账号下，银行卡也只能绑定在自己实名认证的账号下。 &nbsp; &nbsp; &nbsp; &nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp;&nbsp;</p>
        </div>
      </div>
      <div class="dldiv">
        <div class="proTitle"><a class="proA" name="">4. 绑定银行卡时，提示银行预留手机不一致怎么办？</a></div>
        <div class="proCon">
          <p style=";line-height:28px"><span style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
            style="font-family:微软雅黑">立马理财平台上绑定银行卡，需要校验持卡人姓名、身份证号、银行卡号、银行预留手机号以及验证码五要素信息。如果提示银行预留手机号不一致，有如下解决办法：</span></span>
          </p>
          <p style=";line-height:28px"><span style=";font-family:微软雅黑;font-size:14px;background:rgb(255,255,255)"><span
            style="font-family:微软雅黑">（</span>1）拨打相应银行专线，接通人工服务，询问如何修改银行预留手机号，如已开通网银，需要同时修改网银手机号。</span></p>
          <p style="line-height: 32px;background: rgb(255, 255, 255)"><span
            style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">（</span>2）</span><span
            style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">请携带身份证、银行卡至</span></span><span
            style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">相应</span></span><span
            style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">银行任意网点，告知柜员</span></span><span
            style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">第三方</span></span><span
            style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">快捷支付手机不一致进行修改；</span></span></p>
          <p style="line-height: 32px;background: rgb(255, 255, 255)"><span
            style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">（</span>3）</span><span
            style="font-family: 微软雅黑;font-size: 14px"><span style="font-family:微软雅黑">若通过已提供的方法还是不能解决问题的，请联系银行核实。</span></span>
          </p>
          <p>&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;<br></p>
        </div>
      </div>
      <div class="dldiv">
        <div class="proTitle"><a class="proA" name="Q2">5. 绑卡过程中提示“您所绑定的银行卡暂未开通银联认证”应该如何操作？</a></div>
        <div class="proCon">
          <p><span style="font-family: 微软雅黑, 'Microsoft YaHei'; font-size: 14px;">出现此提示是因为您当前尝试绑定的银行卡没有开通银联认证，需要到银联网站上开通后才能继续进行绑卡操作。点击“去开通”，在新页面按照如下操作即能完成银联认证：</span>
          </p>
          <p><img src="https://www.lmlc.com/cdn/product/1447924410248.jpg" title="1447924410248.jpg" alt=""><br></p>
        </div>
      </div>
      <div class="dldiv">
        <div class="proTitle"><a class="proA" name="">6. 绑卡中提示身份信息验证错误，怎么办？</a></div>
        <div class="proCon">
          <p><span style=";font-family:微软雅黑;font-size:14px"><span
            style="font-family:微软雅黑">绑卡中提示身份信息验证错误，原因可能为：</span></span></p>
          <p><span style="font-family:微软雅黑;font-size:14px">（1）&nbsp;</span><span
            style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">在开户行预留的手机号码不正确或后有改动，需和开户行确认；</span></span>
          </p>
          <p><span style="font-family:微软雅黑;font-size:14px">（2）&nbsp;</span><span
            style=";font-family:微软雅黑;font-size:14px"><span
            style="font-family:微软雅黑">银联信息未及时更新，导致预留手机号可能有误，需要登录银联网站更新信息。</span></span></p>
          <p><span style=";font-family:微软雅黑;font-size:14px"><span style="font-family:微软雅黑">您可拨打相应银行专线，或携带有效证件至相应银行任意网点，确认相关信息是否相符并进行修改更新。</span></span>&nbsp;
            &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
        </div>
      </div>
      <div class="dldiv">
        <div class="proTitle"><a class="proA" name="">7. 绑卡时，收不到验证码怎么办？</a></div>
        <div class="proCon">
          <p>收不到验证码的可能原因有：</p>
          <p>（1）智能手机安装了拦截软件，导致信息到垃圾信箱了；可以检查手机的垃圾信箱里是否有验证码短信。</p>
          <p>（2）手机在信号不稳定区域；可以选择信号稳定区域或使用4G网络重新发送。</p>
          <p>（3）手机长时间不关机，导致信息接收不稳定；可以关机重启后重新尝试。</p>
          <p>（4）手机收件箱已经满了，手机不能显示；可以删除一些短信后重新尝试。</p>
          <p>（5）如果手机能接收其他短信，有可能是运营商系统故障或维护期间，可以稍后重试。</p>
          <p><br></p>
          <p>如果排除以上原因，仍无法收到验证码，请联系电话客服为您解决（400-921-5525）。&nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp; &nbsp;</p>
        </div>
      </div>
      <div class="foot">
        <img src="//www.lmlc.com/cdn/desktop/common/core/img/logo2.990dd2efb1.png">
      </div>
    </div>
  </div>

</div>
<!-- footer -->
<footer id="footer">

  <div id="m-copyright">
    <div class="g-ctn f-cb f14">
      <nav class="links f-fl">
        <a href="//www.lmlc.com/about.html" target="_blank">关于我们</a>
        <a href="https://www.lmlc.com/web/page/help/128936496-128936497.html" target="_blank">联系我们</a>
        <a href="//www.lmlc.com/web/page/help/help_info.html" target="_blank">帮助中心</a>
        <a href="javascript:;" class="J_customerService">在线客服</a>
      </nav>
      <p class="f-fr">服务热线：400-921-5525 ( 周一至周五09:00-20:00 )</p>
    </div>
    <div class="g-ctn f-cb">
      <nav class="links f-fl">
        <a href="mailto:lmlc@easecreate.com">
          <i class="basefont"></i>lmlc@easecreate.com
        </a>
        <a class="pop weibo" href="http://weibo.com/u/5704817433/home" target="_blank">
          <i class="basefont"></i>
          <span>关注微博</span>
          <div class="popup">
            <img src="//www.lmlc.com/cdn/.remote/finance/src/desktop/core/img/logo-wb.67a705f017.jpg" width="80"
                 height="80">
            <button class="btn btn-primary">+关注立马理财</button>
            <span class="triangle"></span>
            <span class="stand"></span>
          </div>
        </a>
        <a class="pop weixin" href="javascript:;">
          <i class="basefont"></i>
          <span>关注微信</span>
          <div class="popup">
            <img src="//www.lmlc.com/cdn/.remote/finance/src/desktop/core/img/ercode-wx.a8e22c112a.png" width="100"
                 height="100">
            <h6>扫码关注立马理财微信</h6>
            <h6>优惠活动早知道</h6>
            <span class="triangle"></span>
          </div>
        </a>
      </nav>
      <p class="f-fr">理财有风险，投资需谨慎</p>
    </div>
    <div class="g-ctn f-cb">
      <p class="f-fl">
        光大易创网络科技股份有限公司版权所有 沪ICP备15046107号 Copyright Everbright Easecreate Internet Co.,Ltd. ALL Rights Reserved
      </p>
      <nav class="verify f-fr">
        <a class="verify-item" title="上海工商"
           href="https://www.sgs.gov.cn/lz/licenseLink.do?method=licenceView&amp;entyId=dov73ne26zbqq0isy1delhwiv542xg2p75"
           target="_blank">
          <span class="verifybg shic"></span>上海工商
        </a>
        <a class="verify-item" title="可信网站-中网验证"
           href="https://ss.knet.cn/verifyseal.dll?sn=e15120731010661686ckf0000000&amp;ct=df&amp;a=1&amp;pa=0.5570098231546581"
           target="_blank">
					<span class="verifybg knet">
				</span></a>
        <a class="verify-item" title="网信认证-企业信用评级证书"
           href="http://www.itrust.org.cn/Home/Index/itrust_certifi?wm=135078751x" target="_blank">
					<span class="verifybg znet">
				</span></a>
      </nav>
    </div>
  </div>

</footer>
<!-- footer end -->
<script src="//www.lmlc.com/cdn/desktop/common/base/base.d875b48287.js"></script>
<script src="//www.lmlc.com/cdn/desktop/common/core/core.c2c1dfb958.js"></script>
<script src="//www.lmlc.com/cdn/desktop/user/help/main.175fff757f.js"></script>
<script>window.Core && Core._quick && Core._quick();</script>
<script src="https://qiyukf.com/script/3d62afbc13767d459be2fdab6ff9c2e8.js" defer="" async=""></script>


<script src="//analytics.163.com/ntes.js"></script>
<script>_ntes_nacc = window.top === window.self ? "lmlc" : "lmlciframe";
try {
  neteaseTracker();
} catch (e) {
}</script>


<div style="top: 0px; left: 0px; visibility: hidden; position: absolute; width: 1px; height: 1px;">
  <iframe style="height:0px; width:0px;" src="https://qiyukf.com/sdk/res/delegate.html?1521085156832"></iframe>
</div>
<div class="layer-1" id="YSF-BTN-HOLDER" style="display: none;">
  <div id="YSF-CUSTOM-ENTRY-1"><img src="https://qiyukf.com/sdk/res/kefu/custom/1.png"></div>
  <span id="YSF-BTN-CIRCLE"></span>
  <div id="YSF-BTN-BUBBLE">
    <div id="YSF-BTN-CONTENT"></div>
    <span id="YSF-BTN-ARROW"></span><span id="YSF-BTN-CLOSE"></span></div>
</div>
</body>
</html>
