
.product-wrap dl {
  height: 69px;
  font-size: 14px;
  color: #333;
  padding: 18px 0 22px;
  border-bottom: 1px solid #eee;
}
.product-wrap dl .name {
  width: 240px;
  padding-left: 40px;
}

.product-wrap dl .name {
  width: 240px;
  padding-left: 40px;
}

.product-wrap dl .rate {
  width: 130px;
  padding-right: 0;
}

.product-wrap dl .day {
  width: 130px;
  text-align: center;
}
.product-wrap dl dd {
  padding-right: 20px;
}

.product-wrap dl dd {
  padding-right: 20px;
}

.product-wrap dl .process {
  width: 100px;
  padding: 0;
  text-align: center;
}

.product-wrap dl .oper {
  padding-right: 25px;
  padding-top: 17px;
  width: 150px;
  text-align: center;
  position: relative;
}

dl .title {
  font-size: 14px;
}

.product-wrap dl .tit {
  font-size: 18px;
  color: #333;
  line-height: 38px;
}

.f-nowrap {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  word-break: keep-all;
  word-wrap: normal;
}

.u-tag {
  -webkit-border-radius: 2px;
  border-radius: 2px;
}
.u-tag-lima {
  color: #fff;
  background-color: #e5a33b;
}

.u-tag {
  display: inline-block;
  padding: 0 4px;
  font-size: 12px;
  height: 18px;
  line-height: 18px;
  text-align: center;
}

.f-cb:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

.product-wrap dl .desc {
  font-size: 12px;
  color: #999;
  line-height: 30px;
}

.u-tag-feature {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}

.u-tag-feature {
  -webkit-border-radius: 3px;
  border-radius: 3px;
}
.u-tag {
  display: inline-block;
  padding: 0 4px;
  font-size: 12px;
  height: 18px;
  /* line-height: 18px; */
  text-align: center;
}

:focus {
  outline: -webkit-focus-ring-color auto 5px;
}

.product-wrap dl:hover {
  -webkit-box-shadow: 0 0 24px #e5e5e5;
  box-shadow: 0 0 24px #e5e5e5;
  -webkit-transition: .2s;
  transition: .2s;
}
