<!--用于个性化展示产品内容-->
<a routerLink="/project">
  <dl class="ctn f-cb">
    <dd class="f-fl name">
      <div class="tit title f-nowrap">
        <i class="u-tag u-tag-fixed">银行理财</i>
        <span class="ver-align">月月盈产品1-EB2021</span>
      </div>
      <div class="desc">
        <i class="u-tag u-tag-feature">光大银行自营理财</i>
      </div>
    </dd>
    <dd class="f-fl rate">
      <div class="tit highlight">4.80%</div>
      <div class="desc">预期年化收益率</div>
    </dd>
    <dd class="f-fl day">
      <div class="tit">1个月</div>
      <div class="desc">理财期限</div>
    </dd>
    <dd class="f-fl limit">
      <div class="tit">
        5万元
      </div>
      <div class="desc">起购金额</div>
    </dd>
    <dd class="f-fl process">
      <div class="tit small-tit">可自动续投</div>
      <div class="desc">产品特色</div>
    </dd>
    <dd class="f-fr oper">
      <!-- 只包含在售和预售两种状态 -->
      <span class="btn">立即抢购</span>
    </dd>
  </dl>
</a>
