<div id="main" class="f-cb">
  <div class="g-ctn row">
    <div class="pic">
      <img src="../../assets/image/loan.jpeg">
    </div>
    <div class="mainForm">
      <mat-card class="login-container">
        <mat-card-title>
          借款申请
        </mat-card-title>
        <mat-divider></mat-divider>
        <mat-card-content>
          <form [formGroup]="loanInfoForm" (ngSubmit)="loan()">
            <mat-form-field>
              <input matInput placeholder="借款金额" formControlName="loanAmount">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="借款周期, 单位月" formControlName="duration">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="借款原因" formControlName="loanRemark">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="申请人姓名" formControlName="userName">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="手机号码" formControlName="mobile">
            </mat-form-field>

            <mat-form-field>
              <input matInput placeholder="所在城市区域" formControlName="district">
            </mat-form-field>
            <div>
              <button mat-button mat-raised-button="info">提交</button>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
