.product-table {
  display: flex;
  flex-direction: column;
  width: auto;
  justify-content: center;
}

.mat-table {
  max-width: 100%;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}
.mat-column-select {
  overflow: initial;
}
