<ul *ngFor="let product of products" class="container">
  <li class="row item ">
    <div class="col col-lg-2">
      <div>{{product.name}}</div>
      <div>{{product.num}}</div>
    </div>
    <div class="col col-lg-2">
      <div>{{product.rate}}</div>
      <div>xxxxxxx</div>
    </div>
    <div class="col col-lg-2">
      <div>{{product.duration}}</div>
      <div>xxxxxxx</div>
    </div>
    <div class="col col-lg-2">
      <div>{{product.amount-product.completed}}</div>
      <div>xxxxxxx</div>
    </div>
    <div class="col col-lg-1">
      <div class="progress" style="height: 10px;">
        <div class="progress-bar" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">25%</div>
      </div>
      <button type="button" class="btn btn-primary btn-sm" submit="">Primary</button>
    </div>
  </li>
</ul>
