.product-table {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.mat-table {
  max-height: 500px;
}

.mat-header-cell.mat-sort-header-sorted {
  color: black;
}

.product-table{
  height: 300px;
}

.mat-column-select {
  overflow: initial;
}
