<!--最顶端header的component-->
<div class="wdg-werenrendai-top-header">
  <div class="main-section">
    <span class="tel-phone"><i class="icon-phone"></i>客服电话: 400-090-6600</span>
    <ul class="site-nav">
      <li class="nav-item padding-item"><a target="_blank" rel="nofollow" href="https://www.we.com"
                                           style="color: #ff711c">返回WE理财首页</a></li>
      <li class="nav-item padding-item"><a target="_blank" rel="nofollow" href="/pc/about/rrd/list/flag/information/page/1">信息披露</a></li>
      <li class="nav-item padding-item"><a target="_blank" rel="nofollow" href="/pc/about/rrd/list/flag/investoreducation/page/1">投资者教育</a></li>
      <li class="nav-item padding-item"><a target="_blank" rel="nofollow" href="/pc/about/rrd">关于我们</a></li>
      <li class="nav-item padding-item"><a target="_blank" href="/pc/about/rrdHelp/help">帮助中心</a></li>
      <li class="nav-item padding-item"><a target="_blank" href="http://bbs.renrendai.com/">用户论坛</a></li>
      <li class="nav-item padding-item"><i class="icon-mobile3"></i><a target="_blank" href="/pc/app-download.html">移动客户端</a>
      </li>
    </ul>
  </div>
</div>
