<div id="pg-account-security" class="main-section j-card">
  <div id="cmbc-open">
    <div class="content">
      <div class="setting-section-title">开通富民存管</div>
      <div class="cmbc-tips">
        温馨提示：融贷已接入富民银行资金存管系统，实名认证及账户交易前需开启银行资金存管
      </div>
      <div class="cmbc-open-logo">
        <img src="/ps/static/user/page/setting/cmbc/open/assets/rrd-ms_3c10499.png" alt="融贷联手重庆富民银行">
      </div>

      <form class="wdg-open-account-and-bind-card-form" [formGroup]="authForm" method="post">
        <div class="input-box">
          <mat-form-field>
            <input matInput placeholder="真实姓名" formControlName="name">
          </mat-form-field>
        </div>
        <div class="input-box">
          <mat-form-field>
            <input matInput placeholder="身份证号" formControlName="idCard">
          </mat-form-field>
        </div>
        <div class="input-box btn-box">
          <button mat-raised-button color="primary" class="mainButton" (click)="auth()">开通银行存管</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!--下面是默认的提交表单-->
<div class="ips-form">
  <form ngNoForm method="post" id="ipsForm" action="http://113.207.54.122:8011/p2p-dep/gateway.htm">
    <ng-template>IPS页面表单提交</ng-template>
    <mat-form-field>
      <input matInput placeholder="merchantID" name="merchantID" [(ngModel)]="merchantID" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="operationType" name='operationType' [(ngModel)]="operationType" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="request" name='request' [(ngModel)]="request" required>
    </mat-form-field>
    <mat-form-field>
      <input matInput placeholder="sign" name='sign' [(ngModel)]="sign" required>
    </mat-form-field>
    <div>
      <button mat-button type="submit"> 提交</button>
    </div>
  </form>
</div>
