<div class="wdg-werenrendai-second-header">
  <div class="main-section current-channel-index">
    <a href="/" class="brand-logo mt15">
      <!--首页对logo添加h1标签-->
      <h1 class="rrd-logo">人人贷</h1>
    </a>

    <ul class="site-nav" id="navWapper" style="margin-bottom: 0px">
      <li class="channel-item active-channel"><a href="/">首页</a></li>
      <li class="channel-item "><a routerLink="invest">债权投资</a></li>
      <li class="channel-item" style="width: 100px;"><a href="/credit" target="_blank">我要借款/还款</a></li>
      <li class="channel-item "><a rel="nofollow" href="/pc/points.html">我的积分</a></li>
      <li class="channel-item "><a rel="nofollow" routerLink="help">帮助中心</a></li>
      <li class="channel-item "><a rel="nofollow" routerLink="ipsForm">ipsForm</a></li>
      <li *ngIf="!this.userService.user" class="user-item fn-clear" num="">
        <div class="denglu">
          <a target="_self" rel="nofollow"
             href="/pc/passport/index/register?registerSource=web_top&amp;wpFromPos=topHeader">注册</a> /
          <a target="_self" rel="nofollow" routerLink="login">登录</a>
        </div>
      </li>
      <li *ngIf="this.userService.user" class="user-item fn-clear" num="">
        <div class="denglu">
          <a target="_self" rel="nofollow" routerLink="/account">个人中心</a>
        </div>
      </li>
    </ul>

  </div>
</div>
