#main {
  padding-top: 15px;
  padding-bottom: 35px;
  color: #777E86;
}

#main {
  position: relative;
  width: 100%;
  background: #EEF2F7;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-width: 1180px;
  min-height: -webkit-calc(100vh - 100px - 181px);
  min-height: calc(100vh - 100px - 181px);
}

.f-cb {
  display: block;
  zoom: 1;
}

/*@media screen and (max-width: 1280px)*/
#guideBar {
  left: auto;
  right: 0;
  margin: 0;
}

#guideBar {
  position: fixed;
  left: 50%;
  bottom: 160px;
  margin-left: 608px;
  width: 44px;
  min-width: 44px;
  z-index: 1000;
}

#main .g-ctn {
  position: relative;
  width: 1180px;
}

.g-ctn {
  display: block;
  width: 1180px;
  margin: 0 auto;
  background: #FFF;
}

/*含义是clearBoth*/
.f-cb {
  display: block;
  zoom: 1;
}

.f-cb:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

#main .g-sd {
  border: 1px solid #e8e8e8;
  position: relative;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  left: 0;
  top: 0;
  width: 240px;
  min-height: 1020px;
  background: #fbfcff;
  float: left;
}

#main .m-user {
  height: 205px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 30px 15px;
  text-align: center;
  width: 240px;
  position: relative;
}

#main .m-user:after {
  content: "";
  width: 180px;
  background: #e8e8e8;
  height: 1px;
  position: absolute;
  bottom: 0;
  left: 30px;
}

.f-cb:after {
  content: " ";
  display: block;
  font-size: 0;
  height: 0;
  clear: both;
  visibility: hidden;
}

#main .m-user dl {
  position: relative;
  padding-top: 30px;
  text-align: center;
  color: #666;
}

.active-link {
  margin-right: -1px;
  background: #FFF;
  cursor: default;
  border-left: 3px solid #4990e2;
  border-top: 1px solid #e8e8e8;
  border-bottom: 1px solid #e8e8e8;
  color: #4567cc;
}

#main .m-nav a {
  position: relative;
  border-left: 3px solid transparent;
  display: block;
  height: 60px;
  line-height: 60px;
  font-size: 16px;
  text-decoration: none;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding-left: 27px;
  padding-right: 18px;
  color: #333;
}

/*设置左侧箭头的css*/

/*!*#main .m-nav a .arrow {*!*/
/*!*float: right;*!*/
/*!*font-size: 28px;*!*/
/*!*color: #e3e3e3;*!*/
/*!*height: 59px;*!*/
/*!*}*!*/
/*.iconfont {*/
/*font-family: iconfont!important;*/
/*font-size: 16px;*/
/*font-style: normal;*/
/*-webkit-font-smoothing: antialiased;*/
/*-webkit-text-stroke-width: .2px;*/
/*-moz-osx-font-smoothing: grayscale;*/
/*}*/

.material-icons {
  margin: auto auto;
}
