<div class="wapper">
  <div class="container" id="sidebarWapperContainer">

    <div [style.color]="normalFontColor">
      <img src="" class="logo-img" alt="头像"/>
      <span>张军</span>
      <span>zj_learn@163.com</span>
    </div>

    <div id="personInfoWapper">
      <dl class="d-flex justify-content-between align-items-center">
        <dd class="">
          <!--包裹icon的集合-->
          <span class="icon-wrap">
         <i class="material-icons ">faces</i>
        </span>
          <p class="note">身份待认证</p>
        </dd>
        <dd class="">
          <a class="icon-wrap" href="/web/page/login/account/bindLmlcPhone.html">
            <i class="material-icons">smartphone</i>
          </a>
          <div class="note"><a href="/web/page/login/account/bindLmlcPhone.html">马上绑定</a></div>
        </dd>
        <dd class="">
          <a class="icon-wrap" href="/web/page/login/success/risk_assess.html">
            <i class="material-icons">assignment</i>
          </a>
          <p class="note">已评估</p>
        </dd>
      </dl>
    </div>
    <mat-divider [style.background-color]="dividerBgColor"></mat-divider>

    <div class="sidebar-wrapper">
      <div class="nav-container">
        <ul class="nav d-flex flex-column">
          <li *ngFor="let menuItem of menuItems" routerLinkActive #rla="routerLinkActive"
              [ngClass]="rla.isActive? (menuItem.children === null? 'active' : '') : ''"
              [routerLinkActiveOptions]="{exact: true}">
            <a [style.display]="menuItem.children === null? 'flex' : 'none'" [routerLink]="[menuItem.path]"
               [style.background-color]="rla.isActive? color : 'transparent'"
               [style.color]="rla.isActive? activeFontColor : normalFontColor">
              <i class="material-icons">{{menuItem.icon}}</i>
              <span>{{menuItem.title}}</span>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </div>

  <div id = "main-panel" class="main-panel">
    <!--对应的内容区域， 该内容区域显示导航相对应的-->
    <router-outlet></router-outlet>
  </div>

</div>

