<div id="main" class="f-cb clearfix">

  <div id="guideBar">
    <a href="javascript:;" class="item gotop J_goTop" data-tar="" style="height: 0px; display: none;"></a>
    <a href="javascript:;" class="item service J_customerService"></a>
    <div style="position: relative;" class="J_qrcode">
      <a href="javascript:;" class="item app" title="APP下载">
      </a>
      <div class="qr-code-wrap">
        <div class="qr-wrap-bg"></div>
        <a class="qr-code-text" href="//pop.lmlc.com/web/client.html?from=guidebar" target="_blank"></a>
        <div class="qr-code-bg"></div>
        <a class="qr-img" href="//pop.lmlc.com/web/client.html?from=guidebar" target="_blank"></a>
        <span class="J_close"></span>
      </div>
    </div>
  </div>

  <!--主要的内容区域-->
  <div class="g-ctn f-cb">
    <div class="g-sd J_navList" style="height: 2917px">
      <div class="m-user">
        <div [style.color]="normalFontColor">
          <img src="" class="logo-img" alt="头像"/>
          <span>张军</span>
          <span>zj_learn@163.com</span>
        </div>

        <div id="personInfoWapper">
          <dl class="d-flex justify-content-between align-items-center">
            <dd class="">
              <!--包裹icon的集合-->
              <span class="icon-wrap"><i class="material-icons ">faces</i></span>
              <p class="note">身份待认证</p>
            </dd>
            <dd class="">
              <a class="icon-wrap" href="/web/page/login/account/bindLmlcPhone.html">
                <i class="material-icons">smartphone</i>
              </a>
              <div class="note"><a href="/web/page/login/account/bindLmlcPhone.html">马上绑定</a></div>
            </dd>
            <dd class="">
              <a class="icon-wrap" href="/web/page/login/success/risk_assess.html">
                <i class="material-icons">assignment</i>
              </a>
              <p class="note">已评估</p>
            </dd>
          </dl>
        </div>
      </div>


      <mat-divider [style.background-color]="dividerBgColor"></mat-divider>

      <nav class="m-nav J_nav">
        <a class="f-cb active" routerLink="overView" routerLinkActive="active-link">
          <em><i class="iconfont"></i>资产总览</em>
          <i class="material-icons">chevron_right</i>
        </a>
        <a class="f-cb " routerLink="myInvest" routerLinkActive="active-link">
          <em><i class="iconfont"></i>我的理财</em>
          <i class="iconfont arrow"></i>
        </a>
        <a class="f-cb treasury" routerLink="overView" routerLinkActive="active-link">
          <em><i class="iconfont"></i>立马金库</em>
          <i class="iconfont arrow"></i>
        </a>
        <a class="f-cb " routerLink="overView" routerLinkActive="active-link">
          <em><i class="iconfont"></i>交易记录</em>
          <i class="iconfont arrow"></i>
        </a>
        <a class="f-cb " routerLink="overView" routerLinkActive="active-link">
          <em><i class="iconfont bank-icon"></i>我的银行卡</em>
          <i class="iconfont arrow"></i>
        </a>
        <a class="f-cb " routerLink="overView" routerLinkActive="active-link">
          <em><i class="iconfont"></i>红包 福利券</em>
          <i class="iconfont arrow"></i>
        </a>
        <a class="f-cb center-msg " routerLink="message" routerLinkActive="active-link">
          <em><i class="iconfont"></i>消息中心</em>
          <i class="iconfont arrow"></i>
        </a>
        <a class="f-cb account " routerLink="overView" routerLinkActive="active-link">
          <em><i class="iconfont"></i>账户设置</em>
          <i class="iconfont arrow"></i>
        </a>
        <div class="qrcode">
          <img src="//www.lmlccdn.com/www.lmlc.com.new/cdn/desktop/user/center/common/img/qrocde.f69af5a6fb.png"
               height="120" width="120">
          <p>扫一扫&nbsp;随时随地安心理财</p>
        </div>
      </nav>


    </div>

    <div id="main-panel" class="main-panel">
      <!--对应的内容区域， 该内容区域显示导航相对应的-->
      <router-outlet></router-outlet>
    </div>
  </div>


</div>

