.product-select-card{
  width: 90%;
  margin: 10px auto;
}

h3{
  text-align: center;
  border-bottom: red solid 1px;
}

#filterSection{
  margin: 10px auto;
  border-bottom: red solid 1px;
}


/*下面开始新的css样式*/
#main {
  padding: 30px 0 40px;
  color: #777E86;
}

