
h3 {
  text-align: center;
  border-bottom: red solid 1px;
}

#filterSection {
  margin: 20px auto;
}

/*下面开始新的css样式*/
#main {
  padding: 30px 0 40px;
  color: #777E86;
}

#filterSection button {
  margin-left: 20px;
}

#filterSection a {
  margin-left: 20px;
}

.selected {
  background-color: #FECF2F;;
}
