<div class="container">
  <app-carousel></app-carousel>

  <div class="newbee">
    <div class="new-center">
      <ul>
        <li>
          <a href="/pc/about/safeguard.html#blank" target="_blank">
            <img src="../../assets/image/bankinstore.png">
            <div class="label-box">
              <em>银行存管</em>
              <p class="label-desc blank_data">交易资金通过民生银行流转<br>平台无法触碰资金</p>
            </div>
            <i></i>
          </a>
        </li>
        <li>
          <a href="/pc/about/safeguard.html" target="_blank">
            <img src="../../assets/image/san.png">
            <div class="label-box">
              <em>多重保障</em>
              <p class="label-desc risk_data">借款人资质经三重审核<br>逾期率保持行业低水平</p>
            </div>
            <i></i>
          </a>
        </li>
        <li>
          <a href="/pc/about/operate/dataReveal" target="_blank">
            <img src="../../assets/image/newbee_3_f69a139.png">
            <div class="label-box">
              <em>数据披露</em>
              <p class="label-desc">累计出借人数781,234<br>累计出借人赚取489,942万元</p>
            </div>
          </a>
        </li>
      </ul>

    </div>
  </div>

  <!--立马理财的产品推荐-->
  <div class="box">
    <div class="box-title">活期、短期理财 </div>
    <div class="box-content f-cb">
      <div class="pro-desc f-fl" style="height: 110px">
        <p>兼顾灵活和收益</p>
      </div>
      <div class="product-wrap f-fr" id="product-wrap-one">
        <a href="/web/product/product_detail.html?id=jsfund" target="_blank">
          <dl class="ctn f-cb">
            <dd class="f-fl name">
              <div class="tit title f-nowrap">
                <i class="u-tag u-tag-lima">活期</i>
                <span class="ver-align">立马金库</span>
              </div>

              <div class="desc">
                <i class="u-tag u-tag-feature">余额理财</i>
              </div>
            </dd>
            <dd class="f-fl rate">
              <div class="tit highlight">4.07%</div>
              <div class="desc">七日年化收益率</div>
            </dd>
            <dd class="f-fl day">
              <div class="tit f-nowrap small-tit">随存随取</div>
              <div class="desc">产品特色</div>
            </dd>
            <dd class="f-fl limit">
              <div class="tit">
                100元
              </div>
              <div class="desc">起购金额</div>
            </dd>
            <dd class="f-fl process">
              <div class="tit small-tit">充裕</div>
              <div class="desc">剩余额度</div>
            </dd>
            <dd class="f-fr oper">
              <span class="btn">立即抢购</span>
            </dd>
          </dl>
        </a>
      </div>
    </div>
  </div>
  <!--立马理财的中长期的产品推荐-->
  <div class="box">
    <div class="box-title">中长期理财 </div>
    <div class="box-content f-cb">
      <div class="pro-desc long-desc f-fl" style="height: 110px">
        <p>稳健回报&nbsp;省心投资</p>
      </div>
      <div class="product-wrap f-fr" id="product-wrap-two">
        <a href="/web/product/product_detail.html?id=20180201183559PD245656" target="_blank">
          <dl class="ctn f-cb">
            <dd class="f-fl name">
              <div class="tit title f-nowrap">
                <i class="u-tag u-tag-insur">保险</i>
                <span href="/web/product/product_detail.html?id=20180201183559PD245656" title="年年盈 " target="_blank">年年盈 </span>
              </div>
              <div class="desc">
                <i class="u-tag u-tag-feature">一年后可随时免费领取</i>
              </div>
            </dd>
            <dd class="f-fl rate">
              <div class="tit highlight">6.00%</div>
              <div class="desc">历史年化投资回报率</div>
            </dd>
            <dd class="f-fl day">
              <div class="tit f-nowrap small-tit">12个月</div>
              <div class="desc">产品特色</div>
            </dd>
            <dd class="f-fl limit">
              <div class="tit">
                1000元
              </div>
              <div class="desc">起购金额</div>
            </dd>
            <dd class="f-fl process">
              <div class="tit small-tit">弘康人寿</div>
              <div class="desc">产品发行</div>

            </dd>
            <dd class="f-fr oper">
              <span class="btn">立即抢购</span>
            </dd>
          </dl>
        </a>
      </div>
    </div>
  </div>

  <!--&lt;!&ndash;立马理财的荣誉，新闻介绍&ndash;&gt;-->
  <!--<div class="f-cb company">-->
    <!--<div class="box1 box f-fl">-->
      <!--<div class="box-title">立马荣誉</div>-->
      <!--<div class="box-content f-cb m-honor">-->
        <!--<div class="slider fade">-->
          <!--<div class="slider-inner f-cb" role="listbox" style="width: 1360px;">-->
            <!--<div class="honor-item">-->
              <!--<a href="http://industry.caijing.com.cn/20170823/4320981.shtml" target="_blank">-->
                <!--<img src="https://www.lmlccdn.com/www.lmlc.com.new/lmlc/product/1503648939625.jpg" alt="立马理财荣耀当选2017金融科技影响力品牌">-->
                <!--<div class="hover-wrap">-->
                  <!--<h3 class="f-nowrap">立马理财荣耀当选2017金融科技影响力品牌</h3>-->
                  <!--<p>7月19-20日，第六届中国财经峰会在北京隆重举行。作为金融科技领域的杰出代表，凭借其卓越的创新能力和突出贡献，立马理财获得组委会颁发的“2...</p>-->
                <!--</div>-->
              <!--</a>-->
            <!--</div>-->
            <!--<div class="honor-item">-->
              <!--<a href="http://economy.enorth.com.cn/system/2017/05/03/033016527.shtml" target="_blank">-->
                <!--<img src="https://www.lmlccdn.com/www.lmlc.com.new/lmlc/product/1498736472861.png" alt="立马理财跻身《金融时报》互联网财富管理榜十强">-->
                <!--<div class="hover-wrap">-->
                  <!--<h3 class="f-nowrap">立马理财跻身《金融时报》互联网财富管理榜十强</h3>-->
                  <!--<p>4月29日,在北京大学互联网金融双周论坛上,央行旗下《金融时报》社与中国互联网创新研究院联合发布“2016互联网财富管理榜”榜单。入围的10...</p>-->
                <!--</div>-->
              <!--</a>-->
            <!--</div>-->
            <!--<div class="honor-item">-->
              <!--<a href="http://money.163.com/17/0110/18/CAEK8QSO00258104.html" target="_blank">-->
                <!--<img src="https://www.lmlccdn.com/www.lmlc.com.new/lmlc/product/1498736376152.png" alt="立马理财获和讯风云榜" 年度用户喜爱的互金平台""="">-->
                <!--<div class="hover-wrap">-->
                  <!--<h3 class="f-nowrap">立马理财获和讯风云榜"年度用户喜爱的互金平台"</h3>-->
                  <!--<p>由和讯网主办的“第十四届中国财经风云榜之互金行业评选”结果揭晓，立马理财荣获“年度用户喜爱的互联网金融平台”的殊荣。-->
                    <!--和讯网第十四届财经风云...</p>-->
                <!--</div>-->
              <!--</a>-->
            <!--</div>-->
            <!--<div class="honor-item">-->
              <!--<a href="http://money.163.com/16/0920/15/C1DSKKG000258104.html" target="_blank">-->
                <!--<img src="https://www.lmlccdn.com/www.lmlc.com.new/lmlc/product/1498736279772.png" alt="立马理财入围互联网理财安全平台排行榜前十强">-->
                <!--<div class="hover-wrap">-->
                  <!--<h3 class="f-nowrap">立马理财入围互联网理财安全平台排行榜前十强</h3>-->
                  <!--<p>9月18日，在北京大学互联网金融双周论坛上，权威的第三方互联网金融研究机构“互联网金融千人会研究院”发布了《2016中国互联网金融理财安全性...</p>-->
                <!--</div>-->
              <!--</a>-->
            <!--</div>-->
          <!--</div>-->
          <!--<a class="slider-control prev iconfont disabled" role="button" data-to="prev"></a>-->
          <!--<a class="slider-control next iconfont" role="button" data-to="next"></a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
    <!--<div class="box3 box f-fr">-->
      <!--<div class="box-title">-->
        <!--帮助中心-->
        <!--<a href="/web/page/help/help_info.html" target="_blank" class="link">更多<i class="iconfont"></i></a>-->
      <!--</div>-->
      <!--<div class="box-content m-help-wrap f-cb">-->
        <!--<div class="m-help">-->
          <!--<a href="https://www.lmlc.com/web/page/help/128936324-128936325.html" target="_blank">-->
            <!--<i class="icon-point"></i>立马理财是什么？-->
          <!--</a>-->
          <!--<a href="https://www.lmlc.com/web/page/help/128936412-128936413.html#Q1" target="_blank">-->
            <!--<i class="icon-point"></i>定期类理财是什么？-->
          <!--</a>-->
          <!--<a href="https://www.lmlc.com/web/page/help/128936412-128936414.html#Q2" target="_blank">-->
            <!--<i class="icon-point"></i>如何购买理财产品？-->
          <!--</a>-->
          <!--<a href="https://www.lmlc.com/web/page/help/128936412-128936426.html#Q3" target="_blank">-->
            <!--<i class="icon-point"></i>产品到期后如何归还本金和收益？-->
          <!--</a>-->
          <!--<a href="https://www.lmlc.com/web/page/help/128936464-128936466.html#Q1" target="_blank">-->
            <!--<i class="icon-point"></i>我可以使用哪些银行卡进行支付？-->
          <!--</a>-->
          <!--<a href="https://www.lmlc.com/web/page/help/132848339-132848354.html#Q1" target="_blank">-->
            <!--<i class="icon-point"></i>立马金库是什么？-->
          <!--</a>-->
          <!--<a href="https://www.lmlc.com/web/page/help/132848339-132848386.html#Q2" target="_blank">-->
            <!--<i class="icon-point"></i>立马金库转出什么时候可以到账？-->
          <!--</a>-->
          <!--<a href="https://www.lmlc.com/web/page/help/128936496-128936497.html" target="_blank">-->
            <!--<i class="icon-point"></i>如何与我们联系？-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->

    <!--<div class="box2 box f-fr">-->
      <!--<div class="box-title">-->
        <!--立马新闻-->
        <!--<a href="/web/page/news.html" target="_blank" class="link">更多<i class="iconfont"></i></a>-->
      <!--</div>-->
      <!--<div class="box-content f-cb">-->
        <!--<div class="news-item first f-cb">-->
          <!--<a href="http://www.fawan.com/2018/01/25/894525t185.html" class="f-cb" target="_blank">-->
            <!--<img src="https://www.lmlccdn.com/www.lmlc.com.new/lmlc/product/1516957075188.png" class="f-fl">-->
            <!--<div class="f-fl new-info">-->
              <!--<h3>立马理财荣登“2017年度中国TOP金融榜”</h3>-->
              <!--<p class="time">2018-01-26</p>-->
            <!--</div>-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="news-item f-cb">-->
          <!--<a href="http://www.p5w.net/money/zh/201712/t20171219_2047425.htm" class="f-cb" target="_blank">-->
            <!--<img src="https://www.lmlccdn.com/www.lmlc.com.new/lmlc/product/1513678624600.jpg" class="f-fl">-->
            <!--<div class="f-fl new-info">-->
              <!--<h3>立马理财荣获互联网金融年度影响力企业</h3>-->
              <!--<p class="time">2017-12-12</p>-->
            <!--</div>-->
          <!--</a>-->
        <!--</div>-->
        <!--<div class="news-item last f-cb">-->
          <!--<a href="http://economy.enorth.com.cn/system/2017/10/30/033958465.shtml" class="f-cb" target="_blank">-->
            <!--<img src="https://www.lmlccdn.com/www.lmlc.com.new/lmlc/product/1509623420781.png" class="f-fl">-->
            <!--<div class="f-fl new-info">-->
              <!--<h3>立马理财：家庭财富管理要合理配置四个账户</h3>-->
              <!--<p class="time">2017-11-02</p>-->
            <!--</div>-->
          <!--</a>-->
        <!--</div>-->
      <!--</div>-->
    <!--</div>-->
  <!--</div>-->

</div>

