<div class="main">
  <mat-card class="auth-card">
    <mat-card-header>
      <mat-card-title>开通银行存管</mat-card-title>
      <mat-card-subtitle>保障资金安全</mat-card-subtitle>
    </mat-card-header>
    <mat-card-content>
      <form>
        <mat-form-field>
          <input matInput placeholder="真实姓名">
        </mat-form-field>
        <mat-form-field>
          <input matInput placeholder="身份证号">
        </mat-form-field>
      </form>

    </mat-card-content>
    <mat-card-actions>
      <button mat-raised-button color="primary" class="mainButton">开通银行存管</button>
    </mat-card-actions>
  </mat-card>
</div>
